<h1><center>Upvote Prediction using Deep Learning</center></h1>

# Problem Description

This data is the data of Social media. In this data you need to predict the upvote a post will receive.

## Attributes
* ID = Represents the ID of the post
* Tag = Type of question
* Reputation = reputation score of the author
* Answers = Answer given by the people
* Username = Id of the user
* Views = Number of views the question has received
* Upvotes = The target column for which the prediction will be done

# Importing Necessary Libraries

In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [12]:
data = pd.read_csv('train_NIR5Yl1.csv')

In [5]:
data.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [13]:
data.drop(['ID', 'Username'], axis=1, inplace=True)

In [7]:
data.head()

  Tag  Reputation  Answers    Views  Upvotes
0   a      3942.0      2.0   7855.0     42.0
1   a     26046.0     12.0  55801.0   1175.0
2   c      1358.0      4.0   8067.0     60.0
3   a       264.0      3.0  27064.0      9.0
4   c      4271.0      4.0  13986.0     83.0

In [14]:
data.isna().sum()

Tag           0
Reputation    0
Answers       0
Views         0
Upvotes       0
dtype: int64

In [15]:
data['Tag'].value_counts()

c    72458
j    72232
p    43407
i    32400
a    31695
s    23323
h    20564
o    14546
r    12442
x     6978
Name: Tag, dtype: int64

In [16]:
data = pd.get_dummies(data, columns=['Tag'], prefix=['Tag'])

In [17]:
data.head()

,Reputation,Answers,Views,Upvotes,Tag_a,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,3942.0,2.0,7855.0,42.0,1,0,0,0,0,0,0,0,0,0
1,26046.0,12.0,55801.0,1175.0,1,0,0,0,0,0,0,0,0,0
2,1358.0,4.0,8067.0,60.0,0,1,0,0,0,0,0,0,0,0
3,264.0,3.0,27064.0,9.0,1,0,0,0,0,0,0,0,0,0
4,4271.0,4.0,13986.0,83.0,0,1,0,0,0,0,0,0,0,0

In [44]:
X = data.drop('Upvotes', axis=1)
y = data['Upvotes']

In [45]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(X)

X_scaled = pd.DataFrame(scaled_data, columns=X.columns)

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, shuffle=True, random_state=123)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True, random_state=123)

print("""Training datset: {},
Validation Dataset: {},
Test Dataset: {},
""".format(X_train.shape, X_val.shape, X_test.shape))

Training datset: (198027, 13),
Validation Dataset: (66009, 13),
Test Dataset: (66009, 13),

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

lr = LinearRegression().fit(X_train, y_train)

y_pred = lr.predict(X_test)
print("R-Squared: ", r2_score(y_test, y_pred))

R-Squared:  0.27483812373410355

# Modeling a Deep Neural Network

In [57]:
from keras import Sequential
from keras.layers import Dense, Dropout

model = Sequential()
model.add(Dense(500, input_dim=13, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(1, activation="relu"))

model.compile(optimizer='adam',
              loss="mean_squared_error",
              metrics=["mean_absolute_error"])

model.fit(X_train,
          y_train, 
          validation_data=(X_val, y_val),
          epochs=10,
          batch_size=128)

Train on 198027 samples, validate on 66009 samples
Epoch 1/10
198027/198027 [==============================] - 58s 292us/step - loss: 12448447.0117 - mean_absolute_error: 393.3459 - val_loss: 11158298.8148 - val_mean_absolute_error: 388.8231
Epoch 2/10
198027/198027 [==============================] - 57s 290us/step - loss: 10475202.3567 - mean_absolute_error: 395.9488 - val_loss: 9609732.3561 - val_mean_absolute_error: 315.8540
Epoch 3/10
198027/198027 [==============================] - 56s 280us/step - loss: 9725625.6311 - mean_absolute_error: 357.9968 - val_loss: 8970099.5999 - val_mean_absolute_error: 404.5090
Epoch 4/10
198027/198027 [==============================] - 60s 303us/step - loss: 9434025.6769 - mean_absolute_error: 357.5366 - val_loss: 7036300.7053 - val_mean_absolute_error: 369.0251
Epoch 5/10
198027/198027 [==============================] - 61s 307us/step - loss: 7159799.7464 - mean_absolute_error: 355.6172 - val_loss: 3734511.1947 - val_mean_absolute_error: 269.1192
Epoch 6/10
198027/198027 [==============================] - 61s 307us/step - loss: 5373211.3509 - mean_absolute_error: 328.8597 - val_loss: 6977121.1251 - val_mean_absolute_error: 482.4129
Epoch 7/10
198027/198027 [==============================] - 60s 305us/step - loss: 11406746.1396 - mean_absolute_error: 333.8864 - val_loss: 8975249.1440 - val_mean_absolute_error: 329.3676
Epoch 8/10
198027/198027 [==============================] - 61s 309us/step - loss: 4544509.0264 - mean_absolute_error: 283.3943 - val_loss: 2869965.1679 - val_mean_absolute_error: 278.7746
Epoch 9/10
198027/198027 [==============================] - 61s 309us/step - loss: 3529033.5829 - mean_absolute_error: 279.6075 - val_loss: 2368151.4474 - val_mean_absolute_error: 243.7557
Epoch 10/10
198027/198027 [==============================] - 62s 311us/step - loss: 3198969.0610 - mean_absolute_error: 285.0678 - val_loss: 6839649.7800 - val_mean_absolute_error: 311.9891

In [58]:
y_pred = model.predict(X_test)

print("R-Squared: ", r2_score(y_test, y_pred))

R-Squared:  0.3253061001016627